In [1]:
import pandas as pd

In [2]:
src = "https://data.nasa.gov/resource/y77d-th95.json"

In [31]:
df = pd.read_json(src)

In [32]:
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'geolocation', ':@computed_region_cbhk_fwbd',
       ':@computed_region_nnqa_25f4'],
      dtype='object')

In [33]:
column_map = {
    "name": "Name_of_Earth_Meteorite",
    "id": "ID_of_Earth_Meteorite",
    "mass": "Mass_of_Earth_Meteorite",
    "year": "Year_at_which_Earth_Meteorite_was_hit",
    "geolocation": "Point_Coordinates"
}

In [34]:
df.rename(columns = column_map, inplace=True)
# df.isnull().sum()

Name_of_Earth_Meteorite                    0
ID_of_Earth_Meteorite                      0
nametype                                   0
recclass                                   0
Mass_of_Earth_Meteorite                   28
fall                                       0
Year_at_which_Earth_Meteorite_was_hit      1
reclat                                    12
reclong                                   12
Point_Coordinates                         12
:@computed_region_cbhk_fwbd              867
:@computed_region_nnqa_25f4              866
dtype: int64

In [101]:
df_new = df.drop(columns = ["fall", ":@computed_region_cbhk_fwbd", ":@computed_region_nnqa_25f4"]).copy()

In [102]:
df_new["Point_Coordinates"] = df_new["Point_Coordinates"].astype(str).str[33:-1]

In [107]:
# df_new["Year_at_which_Earth_Meteorite_was_hit"].isnull().sum()

In [65]:
# df_new["Year_at_which_Earth_Meteorite_was_hit"] = df_new["Year_at_which_Earth_Meteorite_was_hit"].astype(str).str[:4]

In [66]:
# df_new["Year_at_which_Earth_Meteorite_was_hit"] = df_new["Year_at_which_Earth_Meteorite_was_hit"].fillna(df["Year_at_which_Earth_Meteorite_was_hit"].mode()[0])

In [105]:
# df_new[df_new["Year_at_which_Earth_Meteorite_was_hit"].isnull()]

In [106]:
# np.datetime64(df_new["Year_at_which_Earth_Meteorite_was_hit"][0], dtype = "datetime64[ns]")

In [109]:
# Converting to datetime object and using errors="coerce" as some dates are out of range

df_new["Year_at_which_Earth_Meteorite_was_hit"] = pd.to_datetime(df_new["Year_at_which_Earth_Meteorite_was_hit"], errors="coerce")

In [110]:
# Checking the type of each column

df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name_of_Earth_Meteorite                1000 non-null   object
 1   ID_of_Earth_Meteorite                  1000 non-null   int64
 2   nametype                               1000 non-null   object
 3   recclass                               1000 non-null   object
 4   Mass_of_Earth_Meteorite                972 non-null    float64
 5   Year_at_which_Earth_Meteorite_was_hit  982 non-null    datetime64[ns]
 6   reclat                                 988 non-null    float64
 7   reclong                                988 non-null    float64
 8   Point_Coordinates                      1000 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 70.4+ KB