In [43]:
# Import pandas
import pandas as pd

In [44]:
# Saving the url as src variable
src = "https://data.nasa.gov/resource/y77d-th95.json"

In [45]:
# Reading as pandas DataFrame
df = pd.read_json(src)

In [46]:
# Checking the columns
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'geolocation', ':@computed_region_cbhk_fwbd',
       ':@computed_region_nnqa_25f4'],
      dtype='object')

In [47]:
# Creating maps for column names as required

column_map = {
    "name": "Name_of_Earth_Meteorite",
    "id": "ID_of_Earth_Meteorite",
    "mass": "Mass_of_Earth_Meteorite",
    "year": "Year_at_which_Earth_Meteorite_was_hit",
    "geolocation": "Point_Coordinates"
}

In [48]:
# Renaming columns as required
df.rename(columns = column_map, inplace=True)

In [49]:
# Dropping unwanted columns and saving a new copy 
df_new = df.drop(columns = ["fall", ":@computed_region_cbhk_fwbd", ":@computed_region_nnqa_25f4"]).copy()

In [50]:
# Changing the Point Coordinates to only contain required data
df_new["Point_Coordinates"] = df_new["Point_Coordinates"].astype(str).str[33:-1]

In [51]:
# Converting to datetime object and using errors="coerce" as some dates are out of range

df_new["Year_at_which_Earth_Meteorite_was_hit"] = pd.to_datetime(df_new["Year_at_which_Earth_Meteorite_was_hit"], errors="coerce")

In [52]:
# Checking the type of each column

df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name_of_Earth_Meteorite                1000 non-null   object
 1   ID_of_Earth_Meteorite                  1000 non-null   int64
 2   nametype                               1000 non-null   object
 3   recclass                               1000 non-null   object
 4   Mass_of_Earth_Meteorite                972 non-null    float64
 5   Year_at_which_Earth_Meteorite_was_hit  982 non-null    datetime64[ns]
 6   reclat                                 988 non-null    float64
 7   reclong                                988 non-null    float64
 8   Point_Coordinates                      1000 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 70.4+ KB

In [53]:
# Saving the dataframe as a .csv

df_new.to_csv("meteorites.csv", index=False, header=True)