## Statistics Question 9

Given the score of students in multiple exams

Name | Exam 1 | Exam 2 | Final Exam
-- | -- | -- | -- 
Karan | 85 | 90 | 92
Deepa | 70 | 80 | 85
Karthik | 90 | 85 | 88
Chandan | 75 | 70 | 75
Jeevan | 95 | 92 | 96

Test the hypothesis that the mean scores of all the students are the same. If not, name the student with the highest score.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Name": ['Karan', 'Deepa', 'Karthik', 'Chandan', 'Jeevan'],
    "Exam 1": [85, 70, 90, 75, 95],
    "Exam 2": [90, 80, 85, 70, 92],
    "Final Exam": [92, 85, 88, 75, 96]
})

In [3]:
df

      Name  Exam 1  Exam 2  Final Exam
0    Karan      85      90          92
1    Deepa      70      80          85
2  Karthik      90      85          88
3  Chandan      75      70          75
4   Jeevan      95      92          96

In [4]:
from scipy.stats import f_oneway

# Null Hypothesis:
# Two or more groups have same population mean

f_statistic, p_value = f_oneway(df['Exam 1'], df['Exam 2'], df['Final Exam'])

In [5]:
df["Average"] = (df["Exam 1"] + df["Exam 2"] + df["Final Exam"])/3

In [7]:
if p_value < 0.05:
    print(f"We reject the null hypothesis")
    max_average = df["Average"].max()
    name = df[df["Average"] == max_average]["Name"].values[0]
    print(f"Name of student with highest mean score: {name}")
else:
    print(f"We fail to reject the null hypothesis")
    print("The students have similar mean scores")

We fail to reject the null hypothesis
The students have similar mean scores